body {
  max-width: 100%;
  margin: 0 auto;
  font-family: Monaco, Arial, Helvetica, sans-serif;
  background: black;
  color: white;
}
h1 {
  font-size: 40px;
  padding: 20px;
  margin: 0;
}
main {
  padding: 20px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: lightseagreen;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header {
  background: lightseagreen;
  color: black;
}
footer {
  background-color: lightseagreen;
  padding: 20px;
  color: black;
  text-align: right;
}
