:root {
	--linkedin-color: #0072b1;
	--red: #AF0505;
}

body {
	font-family: Inter;
}

header {
	margin-top: 40px;
	margin-left: 45px;
}

h1 {
	font-size: 36px;
	margin: 0;
}

a,
a:visited,
a:hover,
a:active {
	color: black;
	margin-right: 20px;
}

p {
	font-size: 18px;
	margin: 25px 0px;
}

.main-section-container {
	height: 240px;
	width: 60%;
	margin: 240px auto 0 auto;
	display: flex;
	justify-content: center;
}

.image-myself {
	margin-right: 50px;
}

.span-divider {
	font-weight: 500;
}

.span-software-engineer {
	color: var(--red);
}

.fab {
	font-size: 34px;
}

.fa-linkedin {
	color: var(--linkedin-color);
}

.fa-copy {
	cursor: pointer;
}


@media only screen and (max-width: 800px) {
	header {
		margin: 25px 0px 44px 18px;
	}

	h1 {
		font-size: 24px;
		display: flex;
		flex-direction: column;
	}

	p {
		font-size: 16px;
	}

	.main-section-container {
		margin-top: 0;
		flex-direction: column;
		align-items: center;
		height: 50vh;
		text-align: center;
		padding: 0px 10%;
		width: unset;
		justify-content: space-between;
	}

	.image-myself {
		width: 150px;
		margin: 0;
	}

	.span-divider {
		display: none;
	}

	.span-software-engineer {
		font-size: 18px;
	}
}
