body {
  max-width: 100%;
  margin: 0 auto;
  font-family: Monaco, Arial, Helvetica, sans-serif;
  background: black;
  color: white;
}
h1 {
  font-family: Great Vibes;
  font-size: 50px;
  padding: 20px;
  margin: 0;
}
.my-name {
  color: black;
}
.my-name:hover {
  text-decoration: none;
  color: black;
}
main {
  margin: 20px;
}
a {
  text-decoration: none;
  color: white;
  margin: 20px;
}
a:hover {
  text-decoration: underline;
  color: lightseagreen;
}

.container-index {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-resume {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-projects {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
header {
  background: lightseagreen;
  color: black;
}
footer {
  padding: 20px;
  color: black;
  text-align: right;
  flex-shrink: 0;
}
.projects {
  height: 700px;
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 20px;
}
.resume {
  margin: 0 auto;
}
.email {
  color: white;
}
embed {
  margin: 20px auto;
}
.home {
  text-align: center;
  margin: 40px 0px 0px 0px;
}
.project-image {
  height: 300px;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
}
